<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <img src="images/MH_logo.png" alt="Logo MH Grafica" width="120" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" data-scrol href="#home" style="color: #8e285e"> Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scrol href="#novedades" style="color: #8e285e">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scrol href="#historia" style="color: #8e285e">Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scrol href="#nosotros" style="color: #8e285e">Nosotros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-scrol href="#conocenos" style="color: #8e285e;">Conocenos</a>
            </li>

            <div class="social-media">

                <a title="mh-whatsapp"
                    href="https://api.whatsapp.com/send?phone=5491161638584&text=Estoy%20interesado%20en%20sus%20servicios"
                    target=”_blank”>
                    <img class="whatsapp" src="images/whatsapp.png" alt="whatsapp" width="15" height="15" />
                    15-6163-8584<br>
                </a>
                <a title="mh-ig" href="https://www.instagram.com/mh.grafica/" target=”_blank”>
                    <img class="instagram" src="images/instagram.png" alt="instagram" width="15" height="15" />
                    Mh.grafica<br>
                </a>
                <a title="mh-fb" href="https://www.facebook.com/matiasherreragrafica/photos/?ref=page_internal"
                    target=”_blank”>
                    <img class="facebook" src="images/facebook.png" alt="facebook" width="15" height="15" /> MH -
                    Gráfica y <br>comunicación<br>
                </a>
            </div>

        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div id='home' class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p class="bajada">Bajada</p>
            <h1>Titulo Principal</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe eius expedita fugiat? Est nihil, alias
                magni sed totam odio exercitationem assumenda non velit soluta voluptate ipsum earum nisi harum
                explicabo?</p>
        </div>
    </div>
    <br><br><br>
    <div id="novedades" class="row py-4">
        <div class="col-md-5 offset-md-2 py-3">

            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-toggle="modal" data-target="#exampleModal"><img src="./images/Novedades img.jpg"
                            width="70">Nuevo Producto 1</a></li>
                <li><a href="#"><img src="./images/Novedades img.jpg" width="70">Nuevo Producto 2</a></li>
                <li><a href="#"><img src="./images/Novedades img.jpg" width="70">Nuevo Producto 3</a></li>
                <li><a href="#"><img src="./images/Novedades img.jpg" width="70">Nuevo Producto 4</a></li>
                <li><a href="#"><img src="./images/Novedades img.jpg" width="70">Nuevo Producto 5</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="rounded py-3 testimonios">
                <h3 class="text-center">Nuestros <br>Clientes</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>"Muy conforme, sin dudas los volveria a elegir!"</h5>
                                <p>Comercio de Lavado, Ciudad Evita</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"Precios muy competentes y entrega en tiempo pactado"</h5>
                                <p>Comercio de Animales, Aldo Bonzi</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"Excelente Calidad de Impresion!"</h5>
                                <p>Municipalidad Mte. Grande</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>


                </div>

            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima nostrum, modi
                            fugit earum laboriosam laborum quae cumque aperiam, id magni, sed doloremque? Explicabo
                            neque expedita incidunt obcaecati totam veritatis.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- fin modal -->
    </div>
    <!-- fin novedades -->

    <!-- inicio historia -->
    <div id="historia" class="row align-items-center py-3">
        <div class="col-lg-3 col-md-3 d-none d-sm-block">
            <img src="http://www.interempresas.net/FotosArtProductos/P14435.jpg" alt="Historia-A" width="300"
                height="200">
        </div>
        <div class="col-lg-3 col-md-3 d-none d-sm-block">
            <img src="http://www.interempresas.net/FotosArtProductos/P27121.jpg" alt="Historia-B" width="300"
                height="200">
        </div>



        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur incidunt aperiam aliquam
                libero at. Quod optio, obcaecati eos quisquam suscipit rem consequatur ab hic ratione sed? Ut, hic
                unde!</p>

        </div>

    </div>
    <!-- fin de historia -->

    <!-- inicio staff -->
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="card-deck">
                <div class="card">
                    <img src="https://scontent.faep25-1.fna.fbcdn.net/v/t1.6435-9/53817077_10215427808781583_6284192012006588416_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeEblBeqkXieLvpNieWf8EDMom_QAWXvU9iib9ABZe9T2CNROD5NXTynnmmldO76X1Y&_nc_ohc=_Yf9rDXqQ3EAX_cd-zs&_nc_ht=scontent.faep25-1.fna&oh=a68b9f90931be061de3ad5c24c1a6256&oe=6151B496"
                        class="card-img-top" alt="Matias" width="50%">
                    <div class="card-body">
                        <h5 class="card-title">Matias</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe recusandae quibusdam
                            praesentium voluptatum hic, obcaecati.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://scontent.faep25-1.fna.fbcdn.net/v/t31.18172-8/14068583_1083225805094526_7740814471098206118_o.jpg?_nc_cat=110&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeGBN0hybEX9tAZUCMpIrPMJsRKMeVYQtdCxEox5VhC10LKXJmRWq5BVBam0w1Z6RQg&_nc_ohc=Q_YFNMeUm2IAX98wvv7&tn=2CTg9Os95xsxdpA8&_nc_ht=scontent.faep25-1.fna&oh=73a5ccc89c3ab3e3ce2d30947d688095&oe=614EBE1E"
                        class="card-img-top" alt="Mauro" width="50%">
                    <div class="card-body">
                        <h5 class="card-title">Mauro</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe recusandae quibusdam
                            praesentium voluptatum hic, obcaecati.</p>
                    </div>
                </div>

            </div> <!-- cierra card -->
        </div>
    </div>
    <!-- fin staff -->

    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26236.82882843834!2d-58.523425743424966!3d-34.7151767710546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccee055a1de55%3A0x539a6315dac15260!2sAldo%20Bonzi%2C%20Buenos%20Aires%20Province!5e0!3m2!1sen!2sar!4v1630208637550!5m2!1sen!2sar"
                    style="border:0;" allowfullscreen=""></iframe>
            </div>

        </div> <!-- Cierre columna -->

        <div class=" col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form action="" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="..." name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="11-1234-5678"
                            name="telefono">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
                </div>
                <div class="form-group">
                    <label for="motivo">Motivo</label>
                    <input type="text" class="form-control" id="motivo" placeholder="..." name="motivo">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" name="mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>



            </form>

            {{message}}

        </div>
    </div> <!-- Cierre Conocenos -->

    <footer>
        <p class="text-center">Creado por Joan Maldonado 2021</p>
    </footer>